.payment-detail__totalAmount.totalAmount {
    margin-top: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.price.payment-detail__input-price {
    position: initial;
    left: 95px;
    top: 7px;
    margin-bottom: 0;
    margin-left: 5px;
}

.payment-detail {
    flex: 2;
    max-height: 310px;
    margin-top: 20px;
    box-shadow: 0px 0px 3px 0px rgb(185, 179, 179);
    padding: 10px 10px 0 10px;
    background: rgba(128, 195, 226, 0.726);
}

.payment-detail-header {
    flex: 3;
}

.payment__container {
    display: flex;
    justify-content: space-between;
}
